# macOS system files
.DS_Store
**/.DS_Store

# Editor / IDE
.vscode/
.idea/

# Logs & temp
*.log
Thumbs.db

# 视觉参考模板（不提交）
magicuidesign-portfolio-5ef12e4/
magicuidesign-blog-template-bc0cb81/


# 临时 commit message 文件
commit-msg.tmp
